{% for banner in shop.metaobjects.about_banner.values %}
  <div class="twcss-bg-cover twcss-bg-center twcss-bg-no-repeat twcss-h-[45rem] twcss-bg-primRed" style="background-image: url({{ banner.about_banner_image | img_url:'1500x' }});">
    <p>{{ banner.about_banner_text }}</p>
  </div>
{% endfor %}

{% schema %}
  {
    "name": "about-banner",
    "settings": [],
    "presets": [
      {
        "name": "About Banner",
        "category": "text"
      }
    ]
  }
{% endschema %}