<div class="twcss-h-[44rem] twcss-max-w-full">
    {% comment %} Title Container {% endcomment %}
    <div class="twcss-max-w-[60%]">
        <h1 class="twcss-text-6xl twcss-font-black">{{ page.title }}</h1>
    </div>
</div>
{% schema %}
    {
        "name": "About hero",
        "tag": "section",
        "class": "about-hero",
        "settings": [{
            "type": "image_picker",
            "id": "hero-image",
            "label": "sections.about-hero.settings.image.label"
            }
        ],
        "blocks": [
            {
              "name": "Hero title",
              "type": "text",
              "settings": [
                {
                  "type": "text",
                  "id": "hero-title",
                  "label": "Hero Title"
                }
              ]
            }
          ]
        
    }
{% endschema %}