<div class="twcss-h-[44rem] twcss-max-w-full">
    {%- for block in section.blocks -%}
    {% comment %} Title Container {% endcomment %}
    <div class="twcss-max-w-[60%]">
        <h1 class="twcss-text-6xl twcss-font-black">{{ block.settings.hero-title }}</h1>
    </div>
    {%- if section.settings.image != blank -%}
        <div id="hero-header" class="relative z-0" style="height: 30vh; background-size: cover; background-position: center ;background-image: url('{{ block.settings.image | img_url: '1800x', crop: "center" }}');">
        </div>
    {% endif %}
    {% endfor %}
    
</div>
{% schema %}
    {
        "name": "Hero Image",
        "tag": "section",
        "class": "home-hero-image",
        "blocks": [{
            "type": "image",
            "name": "Image",
            "settings": [{
                  "type": "header",
                  "content": "Hero Image"
               },
               {
                  "type": "image_picker",
                  "id": "image",
                  "label": "Image"
               }
            ]
         }],
         "presets": [{
            "name": "Hero Image",
            "category": "Image",
            "blocks": [{
               "type": "image"
            }]
         }]
        
    }
{% endschema %}